*{
    margin: 0%;
    border: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.container-fluid{
    padding: 0%;
    margin: 0%;
}
body{
    font-family: 'Poiret One', cursive;
    font-weight: bold;
}
