nav{
    background: rgb(175,46,35); /* Old browsers */
    background: -moz-linear-gradient(-45deg, rgb(175,46,35) 0%, rgb(221,116,35) 25%, rgb(221,116,35) 49%, rgb(242,137,46) 69%, rgb(247,199,133) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgb(175,46,35) 0%,rgb(221,116,35) 25%,rgb(221,116,35) 49%,rgb(242,137,46) 69%,rgb(247,199,133) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgb(175,46,35) 0%,rgb(221,116,35) 25%,rgb(221,116,35) 49%,rgb(242,137,46) 69%,rgb(247,199,133) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#af2e23', endColorstr='#f7c785',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    padding: 20px;
}
nav #logo{
    width: 80px;
    background-color: white;
    border-radius: 50%;
    border: 4px solid rgb(97, 8, 8);
}
nav #logo:hover{
    transform: rotate(180deg);
    background-color: black;
}
nav .fa-bars{
    font-size: 2rem;
}
.nav-item{
    list-style: none;
    font-size: 1.8rem;
}
.nav-link{
    color: white;
    text-decoration: none;
}
.nav-link:hover{
    background-color: black;
    color: rgb(238, 255, 0);
    border-radius: 5px;    
}