#bodyIndex {
     background: $mainGreyDark;
     color: $whitePersonal;
    main{
        text-align: center;
        padding: 0%;
        text-shadow: 3px 3px 2px rgba(150, 150, 150, 1);
        img{
            border-radius: 15px;
            // border: 2px solid red;
        }
    }
}

